* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



header, footer {
    background: linear-gradient(to top, rgb(41, 41, 41), rgb(0, 46, 0));
    color: rgb(255, 255, 255);
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 200%;
    padding: 1% 0;
    margin-bottom: 0;
    margin-bottom: -3000px;
}

.MyName {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-style: italic;

} 
.MyName:hover {
    transform: translateY(-10px);
}

header {
    font-size: 150%;
    padding: 0.5% 0;
    
}

.MainName {
    margin-left: 4%;
    font-style: oblique;
}

.Depo {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(190, 130, 0));
    width: 55%;
    height: 64%;
    margin-top: 5%;
    margin-left: 5%;
    position: absolute;
    border-radius: 30px;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

    box-shadow: 30px 30px 100px black;
}

.Depo:hover {
    transform: translateY(-10px);
}

.DepoMap {
    margin-left: 65%;
    margin-top: 2%;
    height: 50%;
    width: 52%;
    position: relative;
}

.DepoMap1 {
    margin-left: 60%;
    margin-top: 2%;
    height: 35%;
    width: 50%;
    position: relative;
}

.DepoCake {
    width: 40%;
    height: 40%;
    margin-left: 60%;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.DepoCake:hover {
    transform: translateY(-10px);
}

.PlaceName {
    color: aliceblue;
    margin-left: 5%;
    margin-top: 2%;
    font-style: italic;
}

.PlaceName1 {
    color: aliceblue;
    margin-left: 5%;
    margin-top: 2%;
    width: 30%;
}

#ChangeBack {
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin-left: 3%;
    margin-top: 1%;
    position: absolute;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(255, 255, 255);

    border-radius: 20px;

}

.DepoImg {
    width: 520px;
    border-radius: 20px;
    margin-left: 465px;
    margin-top: -320px;
    box-shadow: 30px 30px 100px black;
}

#BackGroundMain {
    background-color: rgb(20, 20, 20);
}

.MoscowCity {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 190, 180));
    width: 55%;
    height: 70%;
    margin-top: 10%;
    margin-left: 42%;
    position: absolute;
    border-radius: 30px;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

    box-shadow: 30px 30px 100px black;
}

.MoscowCity:hover {
    transform: translateY(-10px);
}

.MoscowTowers:hover {
    transform: translateY(-10px);
}

.MoscowTowers {
    width: 520px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 80px;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.audio1 {
    margin-top: -3%;
    margin-left: 55%;
    position: absolute;
    border-radius: 20px;
}

.audio4 {
    margin-top: -3%;
    margin-left: 75%;
    position: absolute;
    border-radius: 20px;
}

#Cube {
    width: 50px;
    height: 50px;
    margin-left: 14%;
    margin-top: -3%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}


.Books {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(196, 108, 204));
    width: 55%;
    height: 64%;
    margin-top: 5%;
    margin-left: 5%;
    position: absolute;
    border-radius: 30px;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

    box-shadow: 30px 30px 100px black;
}