

body {
    background: rgb(2,0,36);
    background: linear-gradient(319deg, rgba(2,0,36,1) 0%, rgba(121,93,53,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 3vw;
    font-style: italic;
    color: aliceblue;
    margin-bottom: 5%;
}

#link {
    width: 60%;
    padding: 15px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 12px 25px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#qrcode {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s;
}


.WebSite {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
}

#QrCreate {
    margin-left: 2%;
}